body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  margin: 2em 0 3em 2em;
}
form {
  width: 90%;
  max-width: 478px;
}

.form-input,
textarea {
  margin-top: 0.7em;
  width: 100%;
  font-size: 1.6em;
}
.form-input {
  display: block;
  padding: 0 0.4em;
  outline: none;
  border: none;
  border-bottom: solid 1px #2ec5ce;
}
form .btn-principal {
  color: aliceblue;
  width: 100%;
  height: 40px;
  font-size: var(--font-nuevo);
  background-color: #2ec5ce;
  border: none;
  border-radius: 0.6em;
}
form .btn-sec {
  width: auto;
  padding: 0.5em 0.6em;
  margin: 0 1em;
  background-color: #dadada;
  color: rgb(39, 39, 39);
  border: none;
  border-radius: 0.6em;
}
form input[type="submit"] {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.column:first-child,
.precio {
  margin-right: 1.2em;
}
.precio {
  display: flex;
  align-items: center;
}
label {
  font-size: var(--font-nuevo);
  font-weight: var(--weight-lead);
}
input[type="checkbox"] {
  margin-right: 0.5em;
}

footer {
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  main {
    margin: auto 0 auto 3.5em;
  }
  form input[type="submit"] {
    margin-bottom: 0;
  }
  .row {
    flex-direction: row;
  }
}
