section{
    margin: 0 .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    margin-bottom: 3em;
    text-align: center;
}
.datos-input{
    display: flex;
    flex-direction: column;
}
.datos-input input{
    margin-bottom: 2em;

    display: block;
    padding: 0 .4em;
    outline: none;
    border: none;
    border-bottom: solid 1px #2ec5ce;
    font-size: 1.6em;
}

.ingresar .registrarse, .txt-peque{
    font-size: var(--font-nuevo);
}
.registrarse{
    color: aliceblue;
    margin-right: 1em;
    width: 100px;
    height: 40px;
    background-color: #2ec5ce;
    border: none;
    border-radius: .6em;
}
.check-terminos{
    margin-right: .1em;
}

