main img {
  width: 100%;
  max-width: 330px;
}
.container {
  max-width: 1600px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}

/* -----------------------filtros------------------ */

main .filtros {
  /* padding: 1.5em 0; */
  color: aliceblue;
  background-color: #8c30f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filtros div {
  margin: 1em 0;
  overflow: hidden;
}
.filtros a {
  color: aliceblue;
  font-size: var(--font-lead);
  font-weight: 700;
  cursor: pointer;
}
.filtros div li {
  font-size: 1.4em;
  font-weight: 400;
}
.filtros .precio {
  display: flex;
  flex-direction: column;
}
.filtros .precio input {
  padding: 0.6em 0.8em;
  max-width: 10em;
  border: none;
  border-radius: 0.6em;
  outline: none;
}
.filtros .filtrosmenu {
  margin-top: 1.2em;
  transition: height 0.3s;
  height: 0;
}
.filtros .filtrosmenu > * {
  margin: 0.7em 0;
}
/* ------------------------------------------------- */

/* -----------------------productos------------------ */

main .productos .productos-grid {
  margin: 2em 2em 0 2em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3em;
  row-gap: 2em;
}
.productos-grid article {
  background-color: #f1e9fa;
  border-radius: 0.6em;
  align-items: center;
}
.productos-grid article .info {
  padding: 1.5em 2em;
}
.productos-grid article .cont-img {
  display: flex;
  justify-content: center;
}
/* --------------------------------------------- */

/* ---------------------QUERIES------------------------ */
@media screen and (min-width: 481px) {
  main .productos .productos-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 260px 1fr;
    /* margin: 3em 2em 0 2em;  */
    margin-top: 9em !important;
  }
  main .filtros {
    /* max-height: 60em; */
    padding: 1.5em 0 1em 0;
    height: fit-content;
    margin-left: 2em;
    border-radius: 0.6em;
  }
  main .productos .productos-grid {
    margin-top: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
